[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
whitenoise = "*"
django = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-environ = "*"
django-heroku = "*"
djangorestframework = "*"
requests = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"
