{% extends 'base.html' %}
{% block content %}
<div class="budget_form">
    {% if user.is_authenticated %}
    <h1 class="title">Are you sure you want to delete the budget of {{budget.budget}}?</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="buttons text-center">
            <input class="btn btn-danger" type="submit" value="Confirm" />
            <a class="btn btn-dark" href="#" onclick="window.history.back();">Cancel</a>
        </div>
    </form>
    {% else %}
    <h1 class="text-center"><a href="{% url 'account_login' %}">Sign In!</a></h1>
    {% endif %}
</div>
{% endblock %}