{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div>
    <div class="trip_destination text-center">
        <h1 class="title">{{trip.destination}}</h1>
    </div>
    <div class="d-flex flex-column align-items-center detail__container">
        <div>
            <p>{{trip.start_date}} - {{trip.end_date}}</p>
        </div>
        <a href="{% url 'trip_update' trip.pk %}" class="btn btn-dark align-self-center text-center">Update</a>
        <hr>
        <div>
          <h2 class="text-center">Weather API</h2>
          <form method="GET">
            <input type="text" 
            name="destination"
            placeholder="City, State/Country">
            <input type="text" 
            name="start_date" 
            placeholder="YYYY-MM-DD">
            <input type="text" 
            name="end_date" 
            placeholder="YYYY-MM-DD">
            <input type="submit" 
            value="submit"
            class="btn btn-dark">
          </form>
            <ul>
              {% for item in data %}
                <li>{{ item.address }}</li>
              {% endfor %}
            </ul>
        </div>
        <hr>
        <div class="text-center">
            <h2 class="title">Budgets:<a class="btn btn-dark" href="{% url 'budget_create' trip.pk %}" >+</a></h2>
            <div class="mt-4 gallery">
              {% for budget in budgets %}
                <div class="">
                  <p>{{budget.budget}}{{budget.user_currency}}</p>
                  <p>{{budget.trip_currency}}</p>
                  <a href="{% url 'budget_update' trip.pk budget.pk %}" class="btn btn-dark">Edit</a>
                  <a href="{% url 'budget_delete' trip.pk budget.pk %}" class="btn btn-danger">X</a>
                </div>
              {% endfor %}
            </div>
            <h2 class="title">Lists:<a class="btn btn-dark" href="{% url 'list_create' trip.pk %}" >+</a></h2>
            <div class="mt-4 gallery">
              {% for list in lists %}
                <div class="m-4">
                  {{list.category}}
                  <a href="{% url 'list_update' trip.pk list.pk %}" class="btn btn-dark">Edit</a>
                  <a href="{% url 'list_delete' trip.pk list.pk %}" class="btn btn-danger">X</a>
                  {% for item in items %}
                    {% if item.category_id == list.id %}
                    <li>{{item.list_item}}</li>
                    {% endif %}
                  {% endfor %}
                </div>
                <a class="btn btn-dark" href="{% url 'item_create' trip.pk list.pk %}" >add item to list +</a>
              {% endfor %}
            </div>
          </div>
        <a href="{% url 'trip_delete' trip.pk %}" class="mt-4 btn btn-danger align-self-center text-center">End Trip</a>
    </div>
</div>
{% else %}
<h1 class="text-center"><a href="{% url 'account_login' %}">Sign In!</a></h1>
{% endif %}
{% endblock %}