{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div>
    <div class="trip_destination text-center">
        <h1 class="title">{{trip.destination}}</h1>
    </div>
    <div class="d-flex flex-column align-items-center detail__container">
        <div>
            <p>{{trip.start_date}} - {{trip.end_date}}</p>
        </div>
        <a href="{% url 'trip_update' trip.pk %}" class="btn btn-dark align-self-center text-center">Update</a>
        <hr>
        <div class="text-center">
            <h2 class="title">Your lists:</h2>
            <a class="btn btn-dark" href="{% url 'list_create' trip.pk %}" >Create a list +</a>
            <div class="mt-4 gallery">
              {% for list in lists %}
                <li><a href="{% url 'list_delete' trip.pk list.pk %}" class="btn btn-danger align-self-center text-center">X</a>{{list.category}}</li>
              {% endfor %}
            </div>
          </div>
        <a href="{% url 'trip_delete' trip.pk %}" class="btn btn-danger align-self-center text-center">End Trip</a>
    </div>
</div>
{% else %}
<h1 class="text-center"><a href="{% url 'account_login' %}">Sign In!</a></h1>
{% endif %}
{% endblock %}