{% extends 'base.html' %}
{% block content %}
    <div class="home_container d-flex flex-column justify-content-center">
        <div>
            <h1>Welcome</h1>
            <p style="max-width: 600px;">
                Welcome to Travelogue, the ultimate travel companion! Get ready to embark on a journey of discovery, adventure, and memories. With Travelogue, you can easily plan and document all your travels in one place. Let's start your next adventure together!
            </p>
            {% if user.is_authenticated %}
                <a class="btn btn-dark" 
                style="max-width: 350px; max-height: 500px;" 
                href="{% url 'trip_create' %}" >
                    Start a new trip!
                </a>
            {% else %}
                <a class="btn btn-dark" 
                style="max-width: 350px; max-height: 500px;" 
                href="{% url 'account_login' %}" >
                    Start a new trip!
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}