{% extends 'base.html' %}
{% block content %}
<div class="item_form">
    {% if user.is_authenticated %}
    <h1 class="title">Are you sure you want to delete the list item {{item.list_item}}?</h1>
    <form method="post">
        {% csrf_token %}
        <div class="buttons text-center">
            <input class="btn btn-danger" type="submit" value="Confirm" />
            <a class="btn btn-dark" href="">Cancel</a>
        </div>
    </form>
    {% else %}
    <h1 class="text-center"><a href="{% url 'account_login' %}">Sign In!</a></h1>
    {% endif %}
</div>
{% endblock %}