{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="trip_form">
  <h1 class="pt-3">Update {{trip.destination}}</h1>
  <form class="d-flex flex-column" method="post" enctype="multipart/form-data"> 
    {% csrf_token %}
    {% for field in form %}
      <div class="form-field">
        {{ field.label_tag }}
        {{ field }}
        {% for error in field.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %} 
    <input class="btn btn-dark mt-4" type="submit" value="Submit" />
  </form>
  {% else %}
  <h1 class="text-center"><a href="{% url 'account_login' %}">Sign In!</a></h1>
  {% endif %}
</div>
{% endblock %}