{% extends 'base.html' %}
{% block content %}
<div class="trip_list text-center">
  {% if user.is_authenticated %}
    <h1 class="title">Your Trips</h1>
    <hr>
    <a class="btn btn-dark" href="{% url 'trip_create' %}" >Start a new trip!</a>
    <hr>
    <div class="mt-4">
      {% for trip in trips %}
        <a class="m-2 btn btn-dark" href="{% url 'trip_detail' trip.pk %}">
          <div style="max-width: 350px; max-height: 500px;">
            <div>
              <p>{{trip.destination}}</p>
              <p>{{trip.start_date}} - {{trip.end_date}}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <h1 class="text-center">
      <a href="{% url 'account_login' %}">Sign In!</a>
    </h1>
  {% endif %}
</div>
{% endblock %}